__pycache__/
*.pyc
*.pyo

venv/
.env/

*.log
instance/
*.sqlite

*.pid
*.sock
db-data/

.env
.env.local
.env.*.local

.vscode/
.idea/

pip-log.txt
pip-delete-this-directory.txt

.ipynb_checkpoints/

.DS_Store
Thumbs.db
